In [ ]:
import pandas as pd

In [ ]:
pd.__version__

## Basic Concept

The primary data structures in *pandas* are implemented as two classes:

  * **`DataFrame`**, which you can imagine as a relational data table, with rows and named columns.
  * **`Series`**, which is a single column. A `DataFrame` contains one or more `Series` and a name for each `Series`.

In [ ]:
# Series
pd.Series(['San Francisco', 'San Jose', 'Sacramento'])

In [ ]:
city_names = pd.Series(['San Francisco', 'San Jose', 'Sacramento'])
population = pd.Series([852469, 1015785, 485199])

In [ ]:
# Data Frame
pd.DataFrame({'City name': city_names, 'Population': population})

## Creating DataFrames from scratch

In [ ]:
data = {
    'apples': [3, 2, 0, 1], 
    'oranges': [0, 3, 7, 2]
}

In [ ]:
purchases = pd.DataFrame(data)
purchases

### Indexing

In [ ]:
purchases = pd.DataFrame(data, index=['June', 'Robert', 'Lily', 'David'])
purchases

In [ ]:
purchases.loc['Robert']

## Read data from files

## Accessing Data

You can access `DataFrame` data using familiar Python dict/list operations:

In [ ]:
city_names = pd.Series(['San Francisco', 'San Jose', 'Sacramento'])
population = pd.Series([852469, 1015785, 485199])

df = pd.DataFrame({'City name': city_names, 'Population': population})

In [ ]:
df['City name']

In [ ]:
df['City name'][1]

In [ ]:
df[0:2]

## IMDB Movie Data

In [ ]:
df = pd.read_csv("Data/IMDB-Movie-Data.csv", index_col="Title")

In [ ]:
df.head()

In [ ]:
df.info()

In [ ]:
df.shape

In [ ]:
df.describe()

### Handling duplicates

In [ ]:
temp_df = df.append(df)
temp_df.shape

In [ ]:
temp_df = temp_df.drop_duplicates()
temp_df.shape

In [ ]:
temp_df.drop_duplicates(inplace=True)

Another important argument for `drop_duplicates()` is `keep`, which has three possible options:

* `first`: (default) Drop duplicates except for the first occurrence.
* `last`: Drop duplicates except for the last occurrence.
* `False`: Drop all duplicates.

Since we didn't define the `keep` arugment in the previous example it was defaulted to `first`. This means that if two rows are the same pandas will drop the second row and keep the first row. Using `last` has the opposite effect: the first row is dropped.

`keep`, on the other hand, will drop all duplicates. If two rows are the same then both will be dropped. Watch what happens to `temp_df`:

In [ ]:
temp_df = df.append(df)  # make a new copy
temp_df.drop_duplicates(inplace=True, keep=False)
temp_df.shape

In [ ]:
df.columns

In [ ]:
df.rename(columns={
        'Runtime (Minutes)': 'Runtime', 
        'Revenue (Millions)': 'Revenue_millions'
    }, inplace=True)


df.columns

In [ ]:
df.columns = [col.lower() for col in df]
df.columns

### Missing value

In [ ]:
df.isnull()

In [ ]:
df.isnull().sum()

#### Removing null values

In [ ]:
df.dropna()

This operation will delete any **row** with at least a single null value, but it will return a new DataFrame without altering the original one. You could specify `inplace=True` in this method as well.

Other than just dropping rows, you can also drop columns with null values by setting `axis=1`:

In [ ]:
df.dropna(axis=1)

In [ ]:
df.shape

### Understanding your variables

In [ ]:
df.describe()

In [ ]:
df['genre'].describe()

In [ ]:
df['genre'].value_counts().head(10)

#### Relationships between continuous variables

In [ ]:
df.corr()

Positive numbers indicate a positive correlation — one goes up the other goes up — and negative numbers represent an inverse correlation — one goes up the other goes down. 1.0 indicates a perfect correlation.

### DataFrame slicing, selecting, extracting

#### By columns

In [ ]:
df[['genre', 'rating']]

#### By rows

In [ ]:
df.loc["Prometheus"]

In [ ]:
df.iloc[1]

In [ ]:
df.loc['Prometheus':'Sing']

In [ ]:
df.iloc[1:4]

#### Conditional selections

In [ ]:
(df['director'] == "Ridley Scott").head()

In [ ]:
df[df['director'] == "Ridley Scott"].head()

In [ ]:
df[(df['director'] == "Ridley Scott") | (df['year'] == 2012)].head()

In [ ]:
df[(df['director'] == "Ridley Scott") & (df['year'] == 2012)].head()

In [ ]:
df[df['director'].isin(['Christopher Nolan', 'Ridley Scott'])].head()

Let's say we want all movies that were released between 2005 and 2010, have a rating above 8.0, but made below the 25th percentile in revenue.
Here's how we could do all of that:

In [ ]:
df[
    ((df['year'] >= 2005) & (df['year'] <= 2010))
    & (df['rating'] > 8.0)
    & (df['revenue_millions'] < df['revenue_millions'].quantile(0.25))
]

### Applying finctions

In [ ]:
def rating_function(x):
    if x >= 8.0:
        return "good"
    else:
        return "bad"

In [ ]:
df["rating_category"] = df["rating"].apply(rating_function)
df.head()

In [ ]:
df["rating_category"] = df["rating"].apply(lambda x: 'good' if x >= 8.0 else 'bad')
df.head(5)

### Brief Plotting

In [ ]:
import matplotlib.pyplot as plt
plt.rcParams.update({'font.size': 20, 'figure.figsize': (10, 8)}) # set font and plot size to be larger

In [ ]:
df.plot(kind='scatter', x='rating', y='revenue_millions', title='Revenue (millions) vs Rating');

In [ ]:
df['rating'].plot(kind='hist', title='Rating');

In [ ]:
df['rating'].describe()

In [ ]:
df['rating'].plot(kind="box");

In [ ]:
df.boxplot(column='revenue_millions', by='rating_category');